* {
    font-family: Calibri, Helvetica, sans-serif;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: ease;
}

body {
    height: 100vh; 
    margin: 5vmin;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 5vmin;
}

h2 {
    font-size: 3vmin;
}

header {
    display: flex;
    flex-direction: column;
}    

header > #nav {
    align-self: flex-end;
}
.navIcon {
    height: 1.75vmin;
    opacity: .5;
}

@media only screen and (min-width: 768px) {
    img {
        height: 8vmin;
    }        

    .navIcon {
        height: 2.5vmin;
        opacity: .5;
    }  
}

main {
    flex-direction: column;
}

#guesses {
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    gap: 1vmin;
}

#guesses > div {
    border: 0.3vmin solid black;
    border-radius: 1vmin;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    color: white;
}

#keyboard {
    display: grid;
    margin-top: 3vmin;
    grid-template-rows: repeat(3, 4vmin);
}

.row {
    display: grid;
    gap: 1vmin;
}

#row1 {
    grid-template-columns: repeat(10, 3vmin);
}

#row2 {
    grid-template-columns: repeat(9, 3vmin);
}

#row3 {
    grid-template-columns: repeat(8, 3vmin);
}

.row div {
    display: flex;
    justify-content: center;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
    padding: 0.5vmin 0vmin;
}

.row div:hover {
    cursor: default;
}

.button {
    font-weight: 100;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(89, 89, 89, 0);
    outline: 1px solid; 
    outline-color: rgba(0, 0, 0, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    color: rgb(89 89 89);
    cursor: pointer;
    line-height: 45px;
    margin: 2vmin 0 2em;
    max-width: 170px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0;
    text-align: center;
}

.button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(89, 89, 89, .5), 0 0 20px rgba(89, 89, 89, .2);
    outline-color: rgba(89, 89, 89, 0);
    outline-offset: 15px;
    letter-spacing: 5px;
}


#popup-help-window, #popup-stats-window {
    position: fixed;
    width: 350px;
    height: 400px;
    background: white;
    border: 2px solid black;
    border-radius: 5%;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    cursor: pointer;
}

#close-help, #close-stats {
    text-align: right;
}

#colorHelp {
    font-size: 14px;
    display: grid;
    grid-template-columns: 50px auto;
    padding: 10px;
    gap: 10px 3px;
}

.helpImg {
    height: 25px;
}

#stats {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    font-size: 13px;
    text-align: center;
    gap: 10px;
}

#distribution {
    position: relative;
    height: 200px;
    width: 300px;
    /* border: 1px solid black; */
    vertical-align: bottom;
    font-size: 12px;
    margin-top: 20px;
}

.bar {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 20px;
    margin: 2px;
    background-color: rgb(89 89 89);
    color: white;
    font-weight: bold;
    text-align: center;
    left: 15px;
}

.label {
    color: black;
    position: relative;
    width: 100%;
    bottom: 23px;
    left: -15px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
}

.dist-title {
    font-size: 16px;
} 
