/* Overall Style */
* {
    font-family: Calibri, Helvetica, sans-serif;
    box-sizing: border-box;
    transition-property: all;
    transition-timing-function: ease;
}

body {
    height: 100vh; 
    margin: 5vmin;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header Styles */
img {
    height: 8vmin;
}

h2 {
    font-size: 3vmin;
}

header {
    display: flex;
    flex-direction: column;
}    

header > #nav {
    align-self: flex-end;
}

.nav-icon {
    height: 1.75vmin;
    opacity: .5;
}

@media only screen and (min-width: 768px) {
    img {
        height: 10vmin;
    }        

    .nav-icon {
        height: 2.5vmin;
        opacity: .5;
    }  
}

main {
    flex-direction: column;
}

/* Word Length Mode Styles */
#length-selector {
    margin-top: 15px;
}

.slider {
    /* remove default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* create a custom design */
    width: 30vmin;
    cursor: pointer;
    outline: none;
    padding-top: 0.5vmin;
}

.slider::-webkit-slider-runnable-track {
    /* style the track */
    height: 2.5vmin;
    background: #ccc;
    border-radius: 2.5vmin;
}

.slider::-moz-range-track {
    /* style the track */
    height: 2.5vmin;
    background: #ccc;
    border-radius: 2.5vmin;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 2.5vmin;
    width: 2.5vmin;
    background-color: rgb(10 123 55);
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    height: 2.5vmin;
    width: 2.5vmin;
    background-color: rgb(10 123 55);
    border-radius: 50%;
    border: none;
}

label {
    font-size: 3vmin;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr; 
    width: 100%;
    padding: 0vmin 2vmin;
    font-size: 3vmin;
}

/* Guess Square Styles */
#guesses {
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    gap: 1vmin;
}

#guesses > div {
    border: 0.3vmin solid black;
    border-radius: 1vmin;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    color: white;
}

/* Keyboard Styles */
#keyboard {
    display: grid;
    margin-top: 3vmin;
    grid-template-rows: repeat(3, 4vmin);
}

.row {
    display: grid;
    gap: 1vmin;
}

#row-1 {
    grid-template-columns: repeat(10, 3vmin);
}

#row-2 {
    grid-template-columns: repeat(9, 3vmin);
}

#row-3 {
    grid-template-columns: repeat(8, 3vmin);
}

.row div {
    display: flex;
    justify-content: center;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
    padding: 0.5vmin 0vmin;
}

.row div:hover {
    cursor: default;
}

/* Button Styles */
.button {
    font-weight: 100;
    border: 0 solid;
    box-shadow: inset 0 0 5vmin rgba(89, 89, 89, 0);  /* 20px */
    outline: 0.25vmin solid;  /* 1px */
    outline-color: rgba(0, 0, 0, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    color: rgb(89 89 89);
    cursor: pointer;
    line-height: 8vmin;  /* 45px */
    margin: 2vmin 0 2em;
    max-width: 35vmin;  /* 170px */
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 0;
    text-align: center;
    visibility: hidden;
}

.button:hover {
    border: 0.25vmin solid;  /* 1px */
    box-shadow: inset 0 0 5vmin rgba(89, 89, 89, .5), 0 0 5vmin rgba(89, 89, 89, .2); /* 20px */
    outline: 0.25vmin solid; /* 1px */
    outline-color: rgba(89, 89, 89, 0);
    outline-offset: 3vmin;  /* 15px */
    letter-spacing: 1vmin;  /* 5px */
}

/* Help and Stats Styles */
#popup-help-window, #popup-stats-window {
    position: fixed;
    width: 40vmin;  /* 350px */
    height: 60vmin;  /* 400px */
    background: white;
    border: 0.25vmin solid black;  /* 2px */
    border-radius: 5%;
    padding: 1vmin;  /* 10px */
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    cursor: pointer;
    font-size: 2.5vmin;
}

#close-help, #close-stats {
    text-align: right;
}

#color-help {
    font-size: 1.75vmin; /* 14px */
    display: grid;
    grid-template-columns: 4.75vmin auto;  /* 50px */
    padding: 1vmin;  /* 10px */
    gap: 1vmin .33vmin;  /* 10px 3px */
}

.help-img {
    height: 2.5vmin;  /* 25px */
}

#help-title {
    font-size: 3vmin;
}

ul {
    padding-left: 3vmin;
}

#stats {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    font-size: 13px;
    text-align: center;
    gap: 10px;
}

#distribution {
    position: relative;
    height: 200px;
    width: 300px;
    vertical-align: bottom;
    font-size: 12px;
    margin-top: 20px;
}

.bar {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 20px;
    margin: 2px;
    background-color: rgb(89 89 89);
    color: white;
    font-weight: bold;
    text-align: center;
    left: 15px;
}

.label {
    color: black;
    position: relative;
    width: 100%;
    bottom: 23px;
    left: -15px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: justify;
}

.dist-title {
    font-size: 16px;
} 

.bar-value {
    vertical-align: middle;
}