* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    margin: 5vmin;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 5vmin;
}

h2 {
    font-size: 3vmin;
}

header {
    display: flex;
    flex-direction: column;
}    

header > #nav {
    align-self: flex-end;
}
.navIcon {
    height: 1.75vmin;
    opacity: .5;
}

@media only screen and (min-width: 768px) {
    img {
        height: 8vmin;
    }        

    .navIcon {
        height: 2.5vmin;
        opacity: .5;
    }  
}


main {
    flex-direction: column;
}

#guesses {
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    gap: 1vmin;
}

#guesses > div {
    border: 0.3vmin solid black;
    border-radius: 1vmin;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    color: white;
}

#keyboard {
    display: grid;
    margin-top: 3vmin;
    grid-template-rows: repeat(3, 4vmin);
}

.row {
    display: grid;
    gap: 1vmin;
}

#row1 {
    grid-template-columns: repeat(10, 3vmin);
}

#row2 {
    grid-template-columns: repeat(9, 3vmin);
}

#row3 {
    grid-template-columns: repeat(8, 3vmin);
}

.row div {
    display: flex;
    justify-content: center;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    font-size: 1.5vmin;
    padding: 0.5vmin 0vmin;
}

button {
    width: 15vmin;
    margin-top: 2vmin;
    background-color: white;
    color: black;
    border: 0.2vmin solid black;
    border-radius: 0.4vmin;
    font-size: 2vmin;
}

button:hover, .guessComplete {
    background-color: green;
    color: white;
}

