* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    flex-direction: column;
}

img {
    height: 6vmin;
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

#guesses {
    display: grid;
    grid-template-columns: repeat(5, 5vmin);
    grid-template-rows: repeat(6, 5vmin);
    gap: 1vmin;
}

#guesses > div {
    border: 0.3vmin solid black;
    border-radius: 1vmin;
}

#keyboard {
    display: grid;
    grid-template-rows: repeat(3, 2vmin);
}

.row {
    display: grid;
    gap: 0.5vmin;
    margin-top: 3vmin;
}

#row1 {
    grid-template-columns: repeat(10,2vmin);
}

#row2 {
    grid-template-columns: repeat(9,2vmin);
}

#row3 {
    grid-template-columns: repeat(8,2vmin);
}

.row div {
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    gap: 1vmin;
}
